html,button,input,select,textarea
    color #222

body
    font-size 1em
    font-family 'Open Sans',Arial,Sans-serif

*
    margin 0

::-moz-selection
    text-shadow none
    background rgba(62, 79, 91, 0.7)
    color #FFF

::selection
    text-shadow none
    background rgba(62, 79, 91, 0.7)
    color #FFF

a
    color #3f4044
    font-size 14px

a:hover
    color #5B9032

hr
    display block
    height 1px
    border 0
    border-top 1px solid #ccc
    margin 1em 0
    padding 0

img
    vertical-align middle

fieldset
    border 0
    margin 0
    padding 0

textarea
    resize vertical

header
    height 290px
    -webkit-box-shadow 0 2px 3px rgba(0,0,0,0.3)
    -moz-box-shadow 0 2px 3px rgba(0,0,0,0.3)
    -o-box-shadow 0 2px 3px rgba(0,0,0,0.3)
    box-shadow 0 2px 3px rgba(0,0,0,0.3)

    .headerimg
        background-position center top
        background-repeat no-repeat
        width 100%
        height 290px
        position absolute

    #cabecera
        margin 0 auto
        position relative
        width 1080px
        height auto

        figure
            img
                cursor pointer

        #flotar
            margin 0 auto
            width 1080px
            height 55px
            position fixed
            top 0px
            left 0px
            right 0px
            z-index 999

            .logos
                margin 0
                padding 0
                float left
                display none
                margin 0 0 0 50px
                z-index 99999

                ul
                    margin 0
                    padding 0
                    display inline-block

                    li
                        margin 0
                        padding 0
                        display inline-block

                        a
                            text-decoration none
                            display block
                            margin 0px 5px 0px 5px
                            width 39px
                            height 50px
                            vertical-align baseline

                        a:hover
                            background-position left bottom
                            -webkit-transition all 200ms linear
                            -moz-transition all 200ms linear
                            -o-transition all 200ms linear
                            -ms-transition all 200ms linear
                            transition all 200ms linear

                        .facebook
                            background url('../img/footer-social-facebook.png') no-repeat left top

                        .twitter
                            background url('../img/footer-social-twitter.png') no-repeat left top

                        .google
                            background url('../img/footer-social-google.png') no-repeat left top
                figure
                    float left
                    display inline-block
                    width 100px

                    #logoa
                        width 100px
                        z-index 999

        .flotarr
            background #297395
            -webkit-border-radius 0 0 10px 10px
            -moz-border-radius 0 0 10px 10px
            -o-border-radius 0 0 10px 10px
            border-radius 0 0 10px 10px
            box-shadow 0 0 20px #666
            -o-box-shadow 0 0 20px #666
            -moz-box-shadow 0 0 20px #666
            -webkit-box-shadow 0 0 20px #666
            -moz-box-sizing border-box
            -webkit-box-sizing border-box
            box-sizing border-box
            border-left 5px solid #FFFFFF
            border-right 5px solid #FFFFFF
            border-bottom 5px solid #FFFFFF

        nav
            margin 0 auto
            position absolute
            top 0
            width 99%
            z-index -1
            text-align right

            ul
                margin 0
                padding 0
                text-align right

                li, .contenedor
                    display inline-block
                    padding 5px 5px 5px 5px
                    margin 5px 0 0 0
                    text-align center
                    font-weight bold
                    color white
                    background-color #80AC07
                    background-image -moz-linear-gradient(top,#8ABA08,#719807)
                    background-image -webkit-gradient(linear,0 0,0 100%,from(#8ABA08),to(#719807))
                    background-image -webkit-linear-gradient(top,#8ABA08,#719807)
                    background-image -o-linear-gradient(top,#8ABA08,#719807)
                    background-image linear-gradient(to bottom,#8ABA08,#719807)
                    background-repeat repeat-x
                    border-color #719807 #719807 #3A4E03
                    border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
                    vertical-align top
                    border-radius 3px 3px 3px 3px
                    -webkit-border-radius 3px 3px 3px 3px
                    -moz-border-radius 3px 3px 3px 3px
                    -o-border-radius 3px 3px 3px 3px
                    border-bottom 5px solid #FFFFFF
                    -webkit-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
                    -moz-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
                    -o-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
                    box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);

                    ul
                        display none
                        position absolute
                        min-width 160px
                        margin 10px 0 0 0

                    a
                        text-decoration none
                        color #FFFFFF
                        font-family 'Titillium Web', sans-serif
                        font-weight normal
                        padding 0 0 20px 0

                li:hover
                    background #1297DA
                    color #FFFFFF

                    a
                        color #FFF

                li:hover > ul
                    display block

                li ul li
                    display block

                li ul li ul
                    right -162px
                    top auto
                    margin -32px 0px 0px 0px

                li .contenedor
                    width 615px
                    display none
                    position absolute
                    margin 15px 0
                    padding 5px
                    right 25px

                    article
                        margin 0
                        padding 0
                        display inline-block
                        width 190px
                        vertical-align top
                        padding 5px
                        -webkit-border-radius 5px
                        -moz-border-radius 5px
                        -o-border-radius 5px
                        border-radius 5px

                        h2
                            font-size 12px
                            margin 0
                            padding 0
                            text-align left
                            color #142027
                            font-family 'Titillium Web', sans-serif

                        p
                            font-size 12px
                            font-weight normal
                            margin 0
                            line-height 15px
                            text-align justify
                            letter-spacing 1.5px
                        img
                            width 190px
                            margin 0
                            padding 0

                        ul
                            padding 0
                            margin 0 0 5px 0
                            display block
                            position relative

                            li
                                padding 0
                                text-align left

                                ul
                                    display none
                                    position absolute
                                    min-width 160px
                                    margin -27px 0 0 0

                                a
                                    margin 0px 0px 0px 5px
                                    padding 5px 5px 5px 5px

                            li:hover > ul
                                display block

                            li ul li
                                display block

                            li ul li ul
                                right -162px
                                top auto
                                margin -27px 0 0 0

                    article:hover
                        -webkit-box-shadow 0 0 10px #FFFFFF
                        -moz-box-shadow 0 0 10px #FFFFFF
                        -o-box-shadow 0 0 10px #FFFFFF
                        box-shadow 0 0 10px #FFFFFF

                li:hover .contenedor
                    display block

        .slogan
            margin 0
            padding 0
            display block
            position absolute
            top 140px
            width 700px
            left 200px
            text-align center

            p
                margin 0
                color #FFFFFF
                font-size 24px
                background rgba(102, 102, 102, 0.3)
                width auto
                display inline-block
                padding 5px
                border-radius 5px

#banner
    background #772939
    height auto
    -webkit-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    -moz-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    -o-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    border-top 5px solid #ba3d66
    border-bottom 5px solid #ba3d66

    #categorias
        width 1100px
        height auto
        margin 0 auto
        text-align center

        a
            margin 10px 8px
            padding 0
            width 345px
            height auto
            border none
            display inline-block
            text-decoration none
            overflow hidden

            figure
                margin 0px -10px 0px 0px
                height 150px
                width 345px
                overflow hidden

                img
                    width 100%
                    margin 0
                    padding 0

            h2
                font-size 16px
                margin 0
                padding 0 0 0 5px
                color #0072C6
                font-family 'Titillium Web', sans-serif
                text-align left
                text-transform uppercase
                font-weight bold

            p
                font-size 12px
                margin 0
                padding 0 5px 0 5px
                color #FFFFFF !important
                letter-spacing 1px
                height auto
                text-align left

            #verde
                border-bottom 5px solid #5B9032

            #azul
                border-bottom 5px solid #297395

            #rojo
                border-bottom 5px solid #F74E1E

        a:hover
            -webkit-box-shadow 0 0 10px #FFFFFF
            -moz-box-shadow 0 0 10px #FFFFFF
            -o-box-shadow 0 0 10px #FFFFFF
            box-shadow 0 0 10px #FFFFFF

#buscar
    margin 10px auto
    width 1100px
    text-align center

    .searsh
        border 1px solid #CCC
        border-bottom 1px solid #AAA
        -webkit-box-shadow 0 1px 2px #CCC
        -moz-box-shadow 0 1px 2px #ccc
        box-shadow 0 1px 2px #CCC
        height 50px
        overflow visible
        padding 10px 10px
        display inline-block
        vertical-align top

        .span1
            width 100px
            margin 0
            line-height 50px
            font-size 25px
            display inline-block
            vertical-align top

        .form
            margin 0
            padding 0
            display inline-block
            width 60%
            line-height 50px
            vertical-align top

            form
                input
                    background url("../img/buscar.png") left no-repeat
                    background-position 5px 15px
                    -webkit-border-radius 4px
                    -moz-border-radius 4px
                    border-radius 4px
                    -webkit-box-sizing border-box
                    -moz-box-sizing border-box
                    box-sizing border-box
                    font-size 14px
                    padding-left 28px
                    height 50px
                    width 550px
                    background-color #FAFAFA
                    border 1px solid #C6D1AD
                    outline 0

                input:focus
                    -webkit-box-shadow 0 0 5px 1px rgba(115, 152, 44, 0.5)
                    -moz-box-shadow 0 0 5px 1px rgba(115,152,44,0.5)
                    box-shadow 0 0 5px 1px rgba(115, 152, 44, 0.5)
                    border-color rgba(100, 140, 30, 0.5)

    .ja
        width 660px
        background #EEE
        text-align left

    .je
        width 365px
        background #EEE

        .cuadro
            margin -3px 3px 0 0
            width auto
            height auto
            padding 10px
            vertical-align top
            display inline-block
            background #0072C6
            vertical-align top
            -webkit-border-radius 10px 0 10px 0
            -moz-border-radius 10px 0 10px 0
            -o-border-radius 10px 0 10px 0
            border-radius 10px 0 10px 0
            border 5px solid #FFFFFF
            -webkit-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
            -moz-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
            -o-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
            box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
            text-decoration none
            color #FFFFFF

        .color1
            opacity 0.4

        .color2
            opacity 0.6

        .color3
            opacity 0.8

        .cuadro:hover
            background-color #2F96B4

#contenido
    background #EEE
    height auto
    -webkit-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    -moz-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    -o-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    position relative
    margin 13px auto

    .contenedor
        width 1070px
        height auto
        margin 0 auto
        background #FFFFFF
        padding 10px 5px 10px 5px
        border-bottom 5px solid #142027

        h2
            margin 5px 0

        p, pre
            margin 0.5em 0.5em
            text-align justify
            color #323E4A
            zoom 1
            font-size 18px
            line-height 30px

        time
            font-size 12px
            text-transform uppercase

        .imagen
            float left
            margin 12px 5px 5px 0px
            max-width 600px

        article
            border-bottom 5px solid #297395
            margin 0
            padding 12px 5px 5px 10px

            h2
                color #323e4a
                font-size 24px
                font-weight normal
                text-transform uppercase

            img
                float left
                margin 12px 5px 5px 0px
                max-width 370px

            .botones
                text-align right

                a
                    color #FFF
                    background #297395
                    text-decoration none
                    padding 5px 20px
                    display inline-block
                    -webkit-transition background-color .4s
                    -moz-transition background-color .4s
                    -o-transition background-color .4s
                    -ms-transition background-color .4s
                    transition background-color .4s

                a:hover
                    color #FFF
                    background #5B9032

                span
                    background #FFF
                    border-radius 30px
                    color #000
                    font-size 15px
                    margin 0px 0px 0px 5px
                    padding 3px

    .comentarios
        text-align center

        h2
            background none repeat scroll 0 0 #F3F3F3
            border-radius 5px
            color #5B9032
            display block
            font-family sans-serif
            font-size 20px
            padding 5px
            text-shadow 1px 1px 1px #CCCCCC
            text-align left

        .formcoment
            width 425px
            text-align left
            display inline-block
            vertical-align top

            ul
                width 100%
                list-style-type:none
                margin 0px
                padding 0px

                li
                    padding 12px
                    border-bottom 1px solid #eee
                    position relative

                    label
                        color #555555
                        display inline-block
                        float left
                        font-family sans-serif
                        font-size 13px
                        font-weight bold
                        margin-top 3px
                        padding 3px
                        width 80px

                        span
                            font-size 25px
                            color #F74E1E
                            vertical-align middle

                    input
                        height 20px
                        width 210px
                        padding 5px 8px

                    textarea
                        padding 8px
                        width 210px

                    button
                        margin-left 90px

                    input, textarea
                        border 1px solid #aaa
                        box-shadow 0px 0px 3px #ccc, 0 10px 15px #eee inset
                        border-radius 2px
                        color #888
                        font-size 12px
                        padding-right 30px
                        -moz-transition padding .25s
                        -webkit-transition padding .25s
                        -o-transition padding .25s
                        transition padding .25s

                    input:focus, textarea:focus
                        background #fff
                        border 1px solid #555
                        box-shadow 0 0 3px #aaa
                        padding-right 80px

                    input:required:valid, textarea:required:valid
                        box-shadow 0 0 5px #5cd053
                        border-color #28921f

                    input:focus:invalid, textarea:focus:invalid
                        box-shadow 0 0 5px #d45252
                        border-color #b03535

                    button.submit
                        padding 9px 17px
                        font-family Helvetica, Arial, sans-serif
                        font-weight bold
                        line-height 1
                        color #444
                        border none
                        text-shadow 0 1px 1px rgba(255, 255, 255, 0.85)
                        background-image -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb))
                        background-image -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF)
                        background-color #fff
                        border 1px solid #f1f1f1
                        border-radius 10px
                        box-shadow 0 1px 2px rgba(0, 0, 0, 0.5)

                    button.submit:hover
                        opacity .55
                        cursor pointer
                        color #fff

                    button.submit:active
                        border 1px solid #222
                        box-shadow 0 0 10px 5px #444 inset

        .coment
            width 600px
            display inline-block
            text-align right
            vertical-align top

            .comentlist
                margin 0
                padding 0
                vertical-align top
                //background-color rgba(102, 102, 102, 0.15)

                img
                    width 100px
                    display block
                    float left
                    margin 0 5px 0 0

                .autor
                    display block
                    font-size 15px
                    text-align left
                    color #2b353f
                    background #2b353f url(../img/pattern_lineas.png)

                    a
                        color #2b353f

                    span
                        font-weight bold
                        font-style italic

    .masdecate
        text-align center

        h2
            background none repeat scroll 0 0 #F3F3F3
            border-radius 5px
            color #5B9032
            display block
            font-family sans-serif
            font-size 20px
            padding 5px
            text-shadow 1px 1px 1px #CCCCCC
            text-align left

            span
                font-size 20px
                font-weight normal
                color #3f4044

        .relacionados
            width 600px
            text-align left
            display inline-block
            vertical-align top

            ul
                width 100%
                list-style-type:none
                margin 0px
                padding 0px

                li
                    padding 0 0 10px 0
                    border-bottom:1px solid #eee
                    position relative
                    text-align left

                    a
                        text-decoration none
                        font-size 15px

                        img
                            margin 0
                            padding 5px 5px 0px 0px
                            width 100px
                            vertical-align text-top
                            float left

                li:hover
                    background rgba(102, 102, 102, 0.15)

        .datos
            width 425px
            display inline-block
            text-align right
            vertical-align top

            img
                width 200px
                text-align left
                display inline-block
                vertical-align top
                max-height 150px
                overflow-y hidden

            .descripcion
                width 210px
                display inline-block
                text-align justify
                vertical-align top
                max-height 150px
                overflow-y hidden

            ul
                width 100%
                list-style-type:none
                margin 10px 0 0 0
                padding 0px

                li
                    padding 0 0 10px 0
                    border-bottom:1px solid #eee
                    position relative
                    text-align left

                    a
                        text-decoration none
                        font-size 15px

                        img
                            margin 0
                            padding 5px 5px 0px 0px
                            width 100px
                            vertical-align text-top
                            float left

                li:hover
                    background rgba(102, 102, 102, 0.15)

    .contactenos
        text-align center

        h2
            background none repeat scroll 0 0 #F3F3F3
            border-radius 5px
            color #5B9032
            display block
            font-family sans-serif
            font-size 20px
            padding 5px
            text-shadow 1px 1px 1px #CCCCCC
            text-align left

        .formulario
            width 600px
            text-align left
            display inline-block
            vertical-align top

            ul
                width 100%
                list-style-type:none
                margin 0px
                padding 0px

                li
                    padding 12px
                    border-bottom 1px solid #eee
                    position relative

                    label
                        color #555555
                        display inline-block
                        float left
                        font-family sans-serif
                        font-size 13px
                        font-weight bold
                        margin-top 3px
                        padding 3px
                        width 90px

                        span
                            font-size 25px
                            color #F74E1E
                            vertical-align middle

                    input
                        height 20px
                        width 220px
                        padding 5px 8px

                    textarea
                        padding 8px
                        width 300px

                    button
                        margin-left 90px

                    input, textarea
                        border 1px solid #aaa
                        box-shadow 0px 0px 3px #ccc, 0 10px 15px #eee inset
                        border-radius 2px
                        color #888
                        font-size 12px
                        padding-right 30px
                        -moz-transition padding .25s
                        -webkit-transition padding .25s
                        -o-transition padding .25s
                        transition padding .25s

                    input:focus, textarea:focus
                        background #fff
                        border 1px solid #555
                        box-shadow 0 0 3px #aaa
                        padding-right 80px

                    input:required:valid, textarea:required:valid
                        box-shadow 0 0 5px #5cd053
                        border-color #28921f

                    input:focus:invalid, textarea:focus:invalid
                        box-shadow 0 0 5px #d45252
                        border-color #b03535

                    button.submit
                        padding 9px 17px
                        font-family Helvetica, Arial, sans-serif
                        font-weight bold
                        line-height 1
                        color #444
                        border none
                        text-shadow 0 1px 1px rgba(255, 255, 255, 0.85)
                        background-image -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#bbb))
                        background-image -moz-linear-gradient(0% 100% 90deg, #BBBBBB, #FFFFFF)
                        background-color #fff
                        border 1px solid #f1f1f1
                        border-radius 10px
                        box-shadow 0 1px 2px rgba(0, 0, 0, 0.5)

                    button.submit:hover
                        opacity .55
                        cursor pointer
                        color #fff

                    button.submit:active
                        border 1px solid #222
                        box-shadow 0 0 10px 5px #444 inset

        .datos
            width 425px
            display inline-block
            text-align right
            vertical-align top

            ul
                width 100%
                list-style-type:none
                margin 0px
                padding 0px

                li
                    padding 12px
                    border-bottom:1px solid #eee
                    position relative
                    text-align left

.pronto
    background #EEE
    height auto
    -webkit-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    -moz-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    -o-box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    box-shadow 0px 0px 2px 3px rgba(0,0,0,0.3)
    position relative
    margin 200px 0 0 0

    figure
        width 600px
        margin 0 auto
        text-align center

        h2
            color #0072C6
            font-family 'Titillium Web', sans-serif

        img
            cursor pointer


footer
    background #323E4A
    border-right 1px solid #E5E5E5
    border-top 1px solid #E5E5E5
    height auto

    .pie
        border-top 5px solid #142027
        width 1070px
        height auto
        margin 0 auto
        color #FFFFFF
        padding 10px 5px 10px 5px
        background #2B353F

        nav
            margin 0 auto
            top 0
            width 600px
            text-align left
            display inline-block

            ul
                margin 0
                padding 0
                text-align left

                li
                    display inline-block
                    padding 5px 5px 5px 5px
                    margin 5px 0 0 0
                    text-align center
                    font-weight bold
                    color white
                    vertical-align top
                    border-radius 3px 3px 3px 3px
                    -webkit-border-radius 3px 3px 3px 3px
                    -moz-border-radius 3px 3px 3px 3px
                    -o-border-radius 3px 3px 3px 3px
                    border-bottom 5px solid #FFFFFF
                    -webkit-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
                    -moz-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
                    -o-box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);
                    box-shadow 0 0px 5px rgba(0, 0, 0, 0.7);

                    a
                        text-decoration none
                        color #FFFFFF
                        font-family 'Titillium Web', sans-serif
                        font-weight normal

                li:hover
                    background #1297DA
                    color #FFFFFF

                    a
                        color #FFF

        .derechos
            margin 0 auto
            top 0
            width 100%
            text-align center
            font-size 14px
            padding 10px 0 0 0

        .lagc
            margin 0 auto
            top 0
            width 455px
            text-align right
            display inline-block

            .logo
                margin 0
                padding 0
                text-align right

                a
                    color #FFFFFF
                    text-decoration none

                    img
                        margin 0
                        padding 0

@import "keyframes"