html,button,input,select,textarea{color:#222}
body{font-size:1em;font-family:'Open Sans',Arial,Sans-serif}
*{margin:0}
::-moz-selection{text-shadow:none;background:rgba(62,79,91,0.7);color:#fff}
::selection{text-shadow:none;background:rgba(62,79,91,0.7);color:#fff}
a{color:#3f4044;font-size:14px}
a:hover{color:#5b9032}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
img{vertical-align:middle}
fieldset{border:0;margin:0;padding:0}
textarea{resize:vertical}
header{height:290px;-webkit-box-shadow:0 2px 3px rgba(0,0,0,0.3);-moz-box-shadow:0 2px 3px rgba(0,0,0,0.3);-o-box-shadow:0 2px 3px rgba(0,0,0,0.3);box-shadow:0 2px 3px rgba(0,0,0,0.3);}
header .headerimg{background-position:center top;background-repeat:no-repeat;width:100%;height:290px;position:absolute}
header #cabecera{margin:0 auto;position:relative;width:1080px;height:auto;}
header #cabecera figure img{cursor:pointer}
header #cabecera #flotar{margin:0 auto;width:1080px;height:55px;position:fixed;top:0;left:0;right:0;z-index:999;}
header #cabecera #flotar .logos{margin:0;padding:0;float:left;display:none;margin:0 0 0 50px;z-index:99999;}
header #cabecera #flotar .logos ul{margin:0;padding:0;display:inline-block;}
header #cabecera #flotar .logos ul li{margin:0;padding:0;display:inline-block;}
header #cabecera #flotar .logos ul li a{text-decoration:none;display:block;margin:0 5px 0 5px;width:39px;height:50px;vertical-align:baseline}
header #cabecera #flotar .logos ul li a:hover{background-position:left bottom;-webkit-transition:all 200ms linear;-moz-transition:all 200ms linear;-o-transition:all 200ms linear;-ms-transition:all 200ms linear;transition:all 200ms linear}
header #cabecera #flotar .logos ul li .facebook{background:url("../img/footer-social-facebook.png") no-repeat left top}
header #cabecera #flotar .logos ul li .twitter{background:url("../img/footer-social-twitter.png") no-repeat left top}
header #cabecera #flotar .logos ul li .google{background:url("../img/footer-social-google.png") no-repeat left top}
header #cabecera #flotar .logos figure{float:left;display:inline-block;width:100px;}
header #cabecera #flotar .logos figure #logoa{width:100px;z-index:999}
header #cabecera .flotarr{background:#297395;-webkit-border-radius:0 0 10px 10px;-moz-border-radius:0 0 10px 10px;-o-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;box-shadow:0 0 20px #666;-o-box-shadow:0 0 20px #666;-moz-box-shadow:0 0 20px #666;-webkit-box-shadow:0 0 20px #666;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border-left:5px solid #fff;border-right:5px solid #fff;border-bottom:5px solid #fff}
header #cabecera nav{margin:0 auto;position:absolute;top:0;width:99%;z-index:-1;text-align:right;}
header #cabecera nav ul{margin:0;padding:0;text-align:right;}
header #cabecera nav ul li,header #cabecera nav ul .contenedor{display:inline-block;padding:5px 5px 5px 5px;margin:5px 0 0 0;text-align:center;font-weight:bold;color:#fff;background-color:#80ac07;background-image:-moz-linear-gradient(top,#8aba08,#719807);background-image:-webkit-gradient(linear,0 0,0 100%,from(#8aba08),to(#719807));background-image:-webkit-linear-gradient(top,#8aba08,#719807);background-image:-o-linear-gradient(top,#8aba08,#719807);background-image:linear-gradient(to bottom,#8aba08,#719807);background-repeat:repeat-x;border-color:#719807 #719807 #3a4e03;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);vertical-align:top;border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-o-border-radius:3px 3px 3px 3px;border-bottom:5px solid #fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.7);-moz-box-shadow:0 0 5px rgba(0,0,0,0.7);-o-box-shadow:0 0 5px rgba(0,0,0,0.7);box-shadow:0 0 5px rgba(0,0,0,0.7);}
header #cabecera nav ul li ul,header #cabecera nav ul .contenedor ul{display:none;position:absolute;min-width:160px;margin:10px 0 0 0}
header #cabecera nav ul li a,header #cabecera nav ul .contenedor a{text-decoration:none;color:#fff;font-family:'Titillium Web',sans-serif;font-weight:normal;padding:0 0 20px 0}
header #cabecera nav ul li:hover{background:#1297da;color:#fff;}
header #cabecera nav ul li:hover a{color:#fff}
header #cabecera nav ul li:hover > ul{display:block}
header #cabecera nav ul li ul li{display:block}
header #cabecera nav ul li ul li ul{right:-162px;top:auto;margin:-32px 0 0 0}
header #cabecera nav ul li .contenedor{width:615px;display:none;position:absolute;margin:15px 0;padding:5px;right:25px;}
header #cabecera nav ul li .contenedor article{margin:0;padding:0;display:inline-block;width:190px;vertical-align:top;padding:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
header #cabecera nav ul li .contenedor article h2{font-size:12px;margin:0;padding:0;text-align:left;color:#142027;font-family:'Titillium Web',sans-serif}
header #cabecera nav ul li .contenedor article p{font-size:12px;font-weight:normal;margin:0;line-height:15px;text-align:justify;letter-spacing:1.5px}
header #cabecera nav ul li .contenedor article img{width:190px;margin:0;padding:0}
header #cabecera nav ul li .contenedor article ul{padding:0;margin:0 0 5px 0;display:block;position:relative;}
header #cabecera nav ul li .contenedor article ul li{padding:0;text-align:left;}
header #cabecera nav ul li .contenedor article ul li ul{display:none;position:absolute;min-width:160px;margin:-27px 0 0 0}
header #cabecera nav ul li .contenedor article ul li a{margin:0 0 0 5px;padding:5px 5px 5px 5px}
header #cabecera nav ul li .contenedor article ul li:hover > ul{display:block}
header #cabecera nav ul li .contenedor article ul li ul li{display:block}
header #cabecera nav ul li .contenedor article ul li ul li ul{right:-162px;top:auto;margin:-27px 0 0 0}
header #cabecera nav ul li .contenedor article:hover{-webkit-box-shadow:0 0 10px #fff;-moz-box-shadow:0 0 10px #fff;-o-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff}
header #cabecera nav ul li:hover .contenedor{display:block}
header #cabecera .slogan{margin:0;padding:0;display:block;position:absolute;top:140px;width:700px;left:200px;text-align:center;}
header #cabecera .slogan p{margin:0;color:#fff;font-size:24px;background:rgba(102,102,102,0.3);width:auto;display:inline-block;padding:5px;border-radius:5px}
#banner{background:#772939;height:auto;-webkit-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);-moz-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);-o-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);box-shadow:0 0 2px 3px rgba(0,0,0,0.3);border-top:5px solid #ba3d66;border-bottom:5px solid #ba3d66;}
#banner #categorias{width:1100px;height:auto;margin:0 auto;text-align:center;}
#banner #categorias a{margin:10px 8px;padding:0;width:345px;height:auto;border:none;display:inline-block;text-decoration:none;overflow:hidden;}
#banner #categorias a figure{margin:0 -10px 0 0;height:150px;width:345px;overflow:hidden;}
#banner #categorias a figure img{width:100%;margin:0;padding:0}
#banner #categorias a h2{font-size:16px;margin:0;padding:0 0 0 5px;color:#0072c6;font-family:'Titillium Web',sans-serif;text-align:left;text-transform:uppercase;font-weight:bold}
#banner #categorias a p{font-size:12px;margin:0;padding:0 5px 0 5px;color:#fff !important;letter-spacing:1px;height:auto;text-align:left}
#banner #categorias a #verde{border-bottom:5px solid #5b9032}
#banner #categorias a #azul{border-bottom:5px solid #297395}
#banner #categorias a #rojo{border-bottom:5px solid #f74e1e}
#banner #categorias a:hover{-webkit-box-shadow:0 0 10px #fff;-moz-box-shadow:0 0 10px #fff;-o-box-shadow:0 0 10px #fff;box-shadow:0 0 10px #fff}
#buscar{margin:10px auto;width:1100px;text-align:center;}
#buscar .searsh{border:1px solid #ccc;border-bottom:1px solid #aaa;-webkit-box-shadow:0 1px 2px #ccc;-moz-box-shadow:0 1px 2px #ccc;box-shadow:0 1px 2px #ccc;height:50px;overflow:visible;padding:10px 10px;display:inline-block;vertical-align:top;}
#buscar .searsh .span1{width:100px;margin:0;line-height:50px;font-size:25px;display:inline-block;vertical-align:top}
#buscar .searsh .form{margin:0;padding:0;display:inline-block;width:60%;line-height:50px;vertical-align:top;}
#buscar .searsh .form form input{background:url("../img/buscar.png") left no-repeat;background-position:5px 15px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:14px;padding-left:28px;height:50px;width:550px;background-color:#fafafa;border:1px solid #c6d1ad;outline:0}
#buscar .searsh .form form input:focus{-webkit-box-shadow:0 0 5px 1px rgba(115,152,44,0.5);-moz-box-shadow:0 0 5px 1px rgba(115,152,44,0.5);box-shadow:0 0 5px 1px rgba(115,152,44,0.5);border-color:rgba(100,140,30,0.5)}
#buscar .ja{width:660px;background:#eee;text-align:left}
#buscar .je{width:365px;background:#eee;}
#buscar .je .cuadro{margin:-3px 3px 0 0;width:auto;height:auto;padding:10px;vertical-align:top;display:inline-block;background:#0072c6;vertical-align:top;-webkit-border-radius:10px 0 10px 0;-moz-border-radius:10px 0 10px 0;-o-border-radius:10px 0 10px 0;border-radius:10px 0 10px 0;border:5px solid #fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.7);-moz-box-shadow:0 0 5px rgba(0,0,0,0.7);-o-box-shadow:0 0 5px rgba(0,0,0,0.7);box-shadow:0 0 5px rgba(0,0,0,0.7);text-decoration:none;color:#fff}
#buscar .je .color1{opacity:.4}
#buscar .je .color2{opacity:.6}
#buscar .je .color3{opacity:.8}
#buscar .je .cuadro:hover{background-color:#2f96b4}
#contenido{background:#eee;height:auto;-webkit-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);-moz-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);-o-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);box-shadow:0 0 2px 3px rgba(0,0,0,0.3);position:relative;margin:13px auto;}
#contenido .contenedor{width:1070px;height:auto;margin:0 auto;background:#fff;padding:10px 5px 10px 5px;border-bottom:5px solid #142027;}
#contenido .contenedor h2{margin:5px 0}
#contenido .contenedor p,#contenido .contenedor pre{margin:.5em .5em;text-align:justify;color:#323e4a;zoom:1;font-size:18px;line-height:30px}
#contenido .contenedor time{font-size:12px;text-transform:uppercase}
#contenido .contenedor .imagen{float:left;margin:12px 5px 5px 0;max-width:600px}
#contenido .contenedor article{border-bottom:5px solid #297395;margin:0;padding:12px 5px 5px 10px;}
#contenido .contenedor article h2{color:#323e4a;font-size:24px;font-weight:normal;text-transform:uppercase}
#contenido .contenedor article img{float:left;margin:12px 5px 5px 0;max-width:370px}
#contenido .contenedor article .botones{text-align:right;}
#contenido .contenedor article .botones a{color:#fff;background:#297395;text-decoration:none;padding:5px 20px;display:inline-block;-webkit-transition:background-color .4s;-moz-transition:background-color .4s;-o-transition:background-color .4s;-ms-transition:background-color .4s;transition:background-color .4s}
#contenido .contenedor article .botones a:hover{color:#fff;background:#5b9032}
#contenido .contenedor article .botones span{background:#fff;border-radius:30px;color:#000;font-size:15px;margin:0 0 0 5px;padding:3px}
#contenido .comentarios{text-align:center;}
#contenido .comentarios h2{background:none repeat scroll 0 0 #f3f3f3;border-radius:5px;color:#5b9032;display:block;font-family:sans-serif;font-size:20px;padding:5px;text-shadow:1px 1px 1px #ccc;text-align:left}
#contenido .comentarios .formcoment{width:425px;text-align:left;display:inline-block;vertical-align:top;}
#contenido .comentarios .formcoment ul{width:100%;list-style-type:none;margin:0;padding:0;}
#contenido .comentarios .formcoment ul li{padding:12px;border-bottom:1px solid #eee;position:relative;}
#contenido .comentarios .formcoment ul li label{color:#555;display:inline-block;float:left;font-family:sans-serif;font-size:13px;font-weight:bold;margin-top:3px;padding:3px;width:80px;}
#contenido .comentarios .formcoment ul li label span{font-size:25px;color:#f74e1e;vertical-align:middle}
#contenido .comentarios .formcoment ul li input{height:20px;width:210px;padding:5px 8px}
#contenido .comentarios .formcoment ul li textarea{padding:8px;width:210px}
#contenido .comentarios .formcoment ul li button{margin-left:90px}
#contenido .comentarios .formcoment ul li input,#contenido .comentarios .formcoment ul li textarea{border:1px solid #aaa;box-shadow:0 0 3px #ccc,0 10px 15px #eee inset;border-radius:2px;color:#888;font-size:12px;padding-right:30px;-moz-transition:padding .25s;-webkit-transition:padding .25s;-o-transition:padding .25s;transition:padding .25s}
#contenido .comentarios .formcoment ul li input:focus,#contenido .comentarios .formcoment ul li textarea:focus{background:#fff;border:1px solid #555;box-shadow:0 0 3px #aaa;padding-right:80px}
#contenido .comentarios .formcoment ul li input:required:valid,#contenido .comentarios .formcoment ul li textarea:required:valid{box-shadow:0 0 5px #5cd053;border-color:#28921f}
#contenido .comentarios .formcoment ul li input:focus:invalid,#contenido .comentarios .formcoment ul li textarea:focus:invalid{box-shadow:0 0 5px #d45252;border-color:#b03535}
#contenido .comentarios .formcoment ul li button.submit{padding:9px 17px;font-family:Helvetica,Arial,sans-serif;font-weight:bold;line-height:1;color:#444;border:none;text-shadow:0 1px 1px rgba(255,255,255,0.85);background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#bbb));background-image:-moz-linear-gradient(0% 100% 90deg,#bbb,#fff);background-color:#fff;border:1px solid #f1f1f1;border-radius:10px;box-shadow:0 1px 2px rgba(0,0,0,0.5)}
#contenido .comentarios .formcoment ul li button.submit:hover{opacity:.55;cursor:pointer;color:#fff}
#contenido .comentarios .formcoment ul li button.submit:active{border:1px solid #222;box-shadow:0 0 10px 5px #444 inset}
#contenido .comentarios .coment{width:600px;display:inline-block;text-align:right;vertical-align:top;}
#contenido .comentarios .coment .comentlist{margin:0;padding:0;vertical-align:top;}
#contenido .comentarios .coment .comentlist img{width:100px;display:block;float:left;margin:0 5px 0 0}
#contenido .comentarios .coment .comentlist .autor{display:block;font-size:15px;text-align:left;color:#2b353f;background:#2b353f url("../img/pattern_lineas.png");}
#contenido .comentarios .coment .comentlist .autor a{color:#2b353f}
#contenido .comentarios .coment .comentlist .autor span{font-weight:bold;font-style:italic}
#contenido .masdecate{text-align:center;}
#contenido .masdecate h2{background:none repeat scroll 0 0 #f3f3f3;border-radius:5px;color:#5b9032;display:block;font-family:sans-serif;font-size:20px;padding:5px;text-shadow:1px 1px 1px #ccc;text-align:left;}
#contenido .masdecate h2 span{font-size:20px;font-weight:normal;color:#3f4044}
#contenido .masdecate .relacionados{width:600px;text-align:left;display:inline-block;vertical-align:top;}
#contenido .masdecate .relacionados ul{width:100%;list-style-type:none;margin:0;padding:0;}
#contenido .masdecate .relacionados ul li{padding:0 0 10px 0;border-bottom:1px solid #eee;position:relative;text-align:left;}
#contenido .masdecate .relacionados ul li a{text-decoration:none;font-size:15px;}
#contenido .masdecate .relacionados ul li a img{margin:0;padding:5px 5px 0 0;width:100px;vertical-align:text-top;float:left}
#contenido .masdecate .relacionados ul li:hover{background:rgba(102,102,102,0.15)}
#contenido .masdecate .datos{width:425px;display:inline-block;text-align:right;vertical-align:top;}
#contenido .masdecate .datos img{width:200px;text-align:left;display:inline-block;vertical-align:top;max-height:150px;overflow-y:hidden}
#contenido .masdecate .datos .descripcion{width:210px;display:inline-block;text-align:justify;vertical-align:top;max-height:150px;overflow-y:hidden}
#contenido .masdecate .datos ul{width:100%;list-style-type:none;margin:10px 0 0 0;padding:0;}
#contenido .masdecate .datos ul li{padding:0 0 10px 0;border-bottom:1px solid #eee;position:relative;text-align:left;}
#contenido .masdecate .datos ul li a{text-decoration:none;font-size:15px;}
#contenido .masdecate .datos ul li a img{margin:0;padding:5px 5px 0 0;width:100px;vertical-align:text-top;float:left}
#contenido .masdecate .datos ul li:hover{background:rgba(102,102,102,0.15)}
#contenido .contactenos{text-align:center;}
#contenido .contactenos h2{background:none repeat scroll 0 0 #f3f3f3;border-radius:5px;color:#5b9032;display:block;font-family:sans-serif;font-size:20px;padding:5px;text-shadow:1px 1px 1px #ccc;text-align:left}
#contenido .contactenos .formulario{width:600px;text-align:left;display:inline-block;vertical-align:top;}
#contenido .contactenos .formulario ul{width:100%;list-style-type:none;margin:0;padding:0;}
#contenido .contactenos .formulario ul li{padding:12px;border-bottom:1px solid #eee;position:relative;}
#contenido .contactenos .formulario ul li label{color:#555;display:inline-block;float:left;font-family:sans-serif;font-size:13px;font-weight:bold;margin-top:3px;padding:3px;width:90px;}
#contenido .contactenos .formulario ul li label span{font-size:25px;color:#f74e1e;vertical-align:middle}
#contenido .contactenos .formulario ul li input{height:20px;width:220px;padding:5px 8px}
#contenido .contactenos .formulario ul li textarea{padding:8px;width:300px}
#contenido .contactenos .formulario ul li button{margin-left:90px}
#contenido .contactenos .formulario ul li input,#contenido .contactenos .formulario ul li textarea{border:1px solid #aaa;box-shadow:0 0 3px #ccc,0 10px 15px #eee inset;border-radius:2px;color:#888;font-size:12px;padding-right:30px;-moz-transition:padding .25s;-webkit-transition:padding .25s;-o-transition:padding .25s;transition:padding .25s}
#contenido .contactenos .formulario ul li input:focus,#contenido .contactenos .formulario ul li textarea:focus{background:#fff;border:1px solid #555;box-shadow:0 0 3px #aaa;padding-right:80px}
#contenido .contactenos .formulario ul li input:required:valid,#contenido .contactenos .formulario ul li textarea:required:valid{box-shadow:0 0 5px #5cd053;border-color:#28921f}
#contenido .contactenos .formulario ul li input:focus:invalid,#contenido .contactenos .formulario ul li textarea:focus:invalid{box-shadow:0 0 5px #d45252;border-color:#b03535}
#contenido .contactenos .formulario ul li button.submit{padding:9px 17px;font-family:Helvetica,Arial,sans-serif;font-weight:bold;line-height:1;color:#444;border:none;text-shadow:0 1px 1px rgba(255,255,255,0.85);background-image:-webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#bbb));background-image:-moz-linear-gradient(0% 100% 90deg,#bbb,#fff);background-color:#fff;border:1px solid #f1f1f1;border-radius:10px;box-shadow:0 1px 2px rgba(0,0,0,0.5)}
#contenido .contactenos .formulario ul li button.submit:hover{opacity:.55;cursor:pointer;color:#fff}
#contenido .contactenos .formulario ul li button.submit:active{border:1px solid #222;box-shadow:0 0 10px 5px #444 inset}
#contenido .contactenos .datos{width:425px;display:inline-block;text-align:right;vertical-align:top;}
#contenido .contactenos .datos ul{width:100%;list-style-type:none;margin:0;padding:0;}
#contenido .contactenos .datos ul li{padding:12px;border-bottom:1px solid #eee;position:relative;text-align:left}
.pronto{background:#eee;height:auto;-webkit-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);-moz-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);-o-box-shadow:0 0 2px 3px rgba(0,0,0,0.3);box-shadow:0 0 2px 3px rgba(0,0,0,0.3);position:relative;margin:200px 0 0 0;}
.pronto figure{width:600px;margin:0 auto;text-align:center;}
.pronto figure h2{color:#0072c6;font-family:'Titillium Web',sans-serif}
.pronto figure img{cursor:pointer}
footer{background:#323e4a;border-right:1px solid #e5e5e5;border-top:1px solid #e5e5e5;height:auto;}
footer .pie{border-top:5px solid #142027;width:1070px;height:auto;margin:0 auto;color:#fff;padding:10px 5px 10px 5px;background:#2b353f;}
footer .pie nav{margin:0 auto;top:0;width:600px;text-align:left;display:inline-block;}
footer .pie nav ul{margin:0;padding:0;text-align:left;}
footer .pie nav ul li{display:inline-block;padding:5px 5px 5px 5px;margin:5px 0 0 0;text-align:center;font-weight:bold;color:#fff;vertical-align:top;border-radius:3px 3px 3px 3px;-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;-o-border-radius:3px 3px 3px 3px;border-bottom:5px solid #fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,0.7);-moz-box-shadow:0 0 5px rgba(0,0,0,0.7);-o-box-shadow:0 0 5px rgba(0,0,0,0.7);box-shadow:0 0 5px rgba(0,0,0,0.7);}
footer .pie nav ul li a{text-decoration:none;color:#fff;font-family:'Titillium Web',sans-serif;font-weight:normal}
footer .pie nav ul li:hover{background:#1297da;color:#fff;}
footer .pie nav ul li:hover a{color:#fff}
footer .pie .derechos{margin:0 auto;top:0;width:100%;text-align:center;font-size:14px;padding:10px 0 0 0}
footer .pie .lagc{margin:0 auto;top:0;width:455px;text-align:right;display:inline-block;}
footer .pie .lagc .logo{margin:0;padding:0;text-align:right;}
footer .pie .lagc .logo a{color:#fff;text-decoration:none;}
footer .pie .lagc .logo a img{margin:0;padding:0}
.animated{-webkit-animation-duration:1s;-moz-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both}
.bounceInDown{-webkit-animation-name:bounceInDown;-moz-animation-name:bounceInDown;-o-animation-name:bounceInDown;animation-name:bounceInDown}
.bounceIn{-webkit-animation-name:bounceIn;-moz-animation-name:bounceIn;-o-animation-name:bounceIn;animation-name:bounceIn}
.bounceOut{-webkit-animation-name:bounceOut;-moz-animation-name:bounceOut;-o-animation-name:bounceOut;animation-name:bounceOut}
@-moz-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px)}
60%{opacity:1;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@-webkit-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px)}
60%{opacity:1;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@-o-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px)}
60%{opacity:1;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@-ms-keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px)}
60%{opacity:1;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@keyframes bounceInDown{0%{opacity:0;-webkit-transform:translateY(-2000px)}
60%{opacity:1;-webkit-transform:translateY(30px)}
80%{-webkit-transform:translateY(-10px)}
100%{-webkit-transform:translateY(0)}
}@-moz-keyframes bounceIn{0%{opacity:0;transform:scale(.3)}
50%{opacity:1;transform:scale(1.05)}
70%{transform:scale(.9)}
100%{transform:scale(1)}
}@-webkit-keyframes bounceIn{0%{opacity:0;transform:scale(.3)}
50%{opacity:1;transform:scale(1.05)}
70%{transform:scale(.9)}
100%{transform:scale(1)}
}@-o-keyframes bounceIn{0%{opacity:0;transform:scale(.3)}
50%{opacity:1;transform:scale(1.05)}
70%{transform:scale(.9)}
100%{transform:scale(1)}
}@-ms-keyframes bounceIn{0%{opacity:0;transform:scale(.3)}
50%{opacity:1;transform:scale(1.05)}
70%{transform:scale(.9)}
100%{transform:scale(1)}
}@keyframes bounceIn{0%{opacity:0;transform:scale(.3)}
50%{opacity:1;transform:scale(1.05)}
70%{transform:scale(.9)}
100%{transform:scale(1)}
}@-moz-keyframes bounceOut{0%{transform:scale(1)}
25%{transform:scale(.95)}
50%{opacity:1;transform:scale(1.1)}
100%{opacity:0;transform:scale(.3)}
}@-webkit-keyframes bounceOut{0%{transform:scale(1)}
25%{transform:scale(.95)}
50%{opacity:1;transform:scale(1.1)}
100%{opacity:0;transform:scale(.3)}
}@-o-keyframes bounceOut{0%{transform:scale(1)}
25%{transform:scale(.95)}
50%{opacity:1;transform:scale(1.1)}
100%{opacity:0;transform:scale(.3)}
}@-ms-keyframes bounceOut{0%{transform:scale(1)}
25%{transform:scale(.95)}
50%{opacity:1;transform:scale(1.1)}
100%{opacity:0;transform:scale(.3)}
}@keyframes bounceOut{0%{transform:scale(1)}
25%{transform:scale(.95)}
50%{opacity:1;transform:scale(1.1)}
100%{opacity:0;transform:scale(.3)}
}